hooks/
platforms/android/ant-build/
platforms/android/ant-gen/
platforms/android/bin/
platforms/android/cordova/
platforms/android/CordovaLib
platforms/android/gen/
platforms/android/libs/
platforms/android/platform_www/
platforms/android/res/
platforms/android/AndroidManifest.xml
platforms/android/build.xml
platforms/android/custom_rules.xml
platforms/android/local.properties
platforms/android/proguard-project.txt
platforms/android/project.properties
platforms/android/.classpath
platforms/android/.project
platforms/android/.settings
platforms/android/assets/_where-is-www.txt

plugins/
config.xml